a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
  padding: 3px;
}

.post {
  border: solid;
}

.page-content {
  padding-top: 8vh;
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding-left: 3rem;
  padding-right: 3rem;
}

@media (hover: hover) {
  a:hover {
    background-color: gray;
  }
}
